body {
    background-color: darkslategrey;
}

canvas#texturenodecanvas {
    background-color: slategray;
    margin: 0;
    padding: 0;
}

div.nodeBase {
	width : 288px;
    height : 220px;
    position: absolute;
	z-index: 0;
    background-color: slategray;
    -moz-user-select: none;
	display: table;
}

div.node {
    width : 200px;
    height : 220px;
    position: relative;
    background-color: slategray;
    border: solid black 2px;
	display: table-cell;
    /*! display: flex; */
}

div.valueNodeBase {
	width : 100px;
    height : 50px;
    position: absolute;
	z-index: 0;
    background-color: slategray;
    -moz-user-select: none;
	display: table;
}

div.valueNode {
    width : 56px;
    height : 50px;
    position: relative;
    background-color: slategray;
    border: solid black 2px;
	display: table-cell;
    /*! display: flex; */
}

div.nodeTitle {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: steelblue;
    text-align: center;
    font-family: verdana;
    font-size: small;
    border-bottom: solid black 1px;
}

div.nodeContents {
    display: flex;
    flex-direction: column;
}

div.nodeIOContainer {
    width: 41px;
    height: 100%;
	position: relative;
    border-right: solid black 1px;
	display: table-cell;
}

div.input {
	background-color: steelblue;
    width: 41px;
	height: 16px;
	position: relative;
	display: table;
}

div.output {
	background-color: steelblue;
    width: 41px;
	height: 16px;
	position: relative;
	display: table;
}

span.circle {
  height: 16px;
  width: 16px;
  background-color: white;
  border: solid black 2px;
  border-radius: 50%;
  display: table-cell;
}

div.ioName {
	height: 16px;
	width: 25px;
    text-align: center;
    font-family: verdana;
    font-size: small;
}

svg {
    width:100%;
    height:100%;
}

line {
	position: absolute;
	z-index: 2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    
    -moz-user-select: none;
    border: solid black 2px;
}

li {
  border-top: solid black 1px;  
}

li:first-child {
    border-top: none;
}

li:hover {
    background-color: white;
}

div.contextmenu {
    position: absolute;
    display:none;
    z-index: 10;
    background-color: slategray;
}

canvas.texturePreview {
    width:100%;
    height:100%;
}

